@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
    margin: auto;
    font-family: 'PT Serif', serif;
}

.topnav {
    background-color: #b6f0f3;
    overflow: hidden;
    margin: auto;
}

.topnavLeft a {
    float: left;
    display: block;
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

.topnavRight > * {
    right: 2%;
    display: inline-block;
    flex-direction: row;
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #7ac3f3;
    color: black;
}